[submodule "modules/fmt"]
	path = modules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "modules/lodepng"]
	path = modules/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "modules/hashmap"]
	path = modules/hashmap
	url = https://github.com/tidwall/hashmap.c.git
[submodule "modules/spng"]
	path = modules/spng
	url = https://github.com/randy408/libspng.git
